/* Paramètres généraux */

body {
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    color: white;
    background-color: #262F64;
}

a, a:hover {
    text-decoration: none;
    color: white;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

/* Header */

.header {
    background-color: rgba(0, 0, 0, 0.8);
}

.logo {
    font-size: 65px;
    font-family: 'Tourney';
    font-weight: 600;
}

.menu a{
    padding: 0 50px 0 50px;
}
.menu a:hover {
    background: -webkit-linear-gradient(#0011FF, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner {
    width: 100%;
    max-width: 100%;
}

.ban {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
}

.inner-banner {
    position: absolute;
    text-align: center;
    top: 60%;
}

.inner-banner h1 {
    font-size: 100px;
    text-shadow: 00px 00px 20px blue;
}


