/* Paramètres généraux */

body {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    color: white;
    background-color: #262F64;
}

a, a:hover {
    text-decoration: none;
    color: white;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.img-fluid {
    margin: 0%;
    padding: 0; 
    width: 100%;
    max-width: 100%;
    height: auto;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------
@@@ Actualités  et Elles ont marqué l'histoire
---------------------------------------------------------------------------------------------------------------------------------------- */

/*----------------------------- Header --------------------------------*/

.header {
    background-color: rgba(0, 0, 0, 0.8);
}

.logo {
    font-size: 40px;
    font-family: 'Tourney';
    font-weight: 600;
}

.menu a{
    padding: 0 50px 0 50px;
}
.menu a:hover {
    background: -webkit-linear-gradient(#0011FF, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.actus {
    background: -webkit-linear-gradient(#0011FF, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.histoire {
    background: -webkit-linear-gradient(#0011FF, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*----------------------------- Banner --------------------------------*/

.banner {
    width: 100%;
    max-width: 100%;
}

.ban {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
}

.inner-banner {
    position: absolute;
    text-align: center;
    top: 60%;
}

.inner-banner h1 {
    font-size: 60px;
    text-shadow: 00px 00px 20px blue;
}

/*----------------------------- Separator --------------------------------*/
.separator {
    width: 40%;
    height: 5px;
    background: gray;
    border-radius: 100px;
    
}
/*----------------------------- Main--------------------------------*/

 h2 {
    font-size: 35px;
    font-family: 'Tourney';
    text-align: center;
}

.txt1, .txt2, .txt3 {
    text-align: center;
    margin-top: 30px;
}
 span {
    font-weight: 600;
    color: rgb(131, 122, 172);
}

/*----------------------------- Footer --------------------------------*/
 #footer {
     background: rgb(34, 34, 34);
 }
.sous-footer {
    background: black;
    padding: 10px 0 10px 0;
    text-align: center;
}
.footer-title {
    margin: auto;
    text-align: center;
    font-family: 'Tourney'
}
.sources {
    margin: auto;
    text-align: center;
}
.sources ul {
    list-style: none;
    line-height: 20px;
}
.sources a {
    font-size: 10px;
}
.sources a:hover {
    text-decoration: underline;
}
.lien {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.contact {
    font-size: 20px;
}
.contact a:hover {
    color: rgb(52, 23, 184);
}
.mentions a:hover {
    color: rgb(52, 23, 184);
}

.reseaux {
    padding: 0;
    margin: 0;
    text-align: center;
}
.instagram {
    float: right;
}
.facebook {
    float: left;
}

.voirplus {
    background: #39437c;
    color: white;
    margin-bottom: 20px;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------
@@@ Contact
---------------------------------------------------------------------------------------------------------------------------------------- */
.contact_us {
background: rgb(81, 83, 226);
border-radius: 5px;
}
.header-contact {
    background-color: rgba(0, 0, 0, 0.8);
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}
.envoyer:hover {
    background: #39437c;
}

.contactez {
    background: -webkit-linear-gradient(#0011FF, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* ----------------------------------------------------------------------------------------------------------------------------------------
@@@ EllesOntMarquésl'Histoire
---------------------------------------------------------------------------------------------------------------------------------------- */

.header1 {
    background: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.lien-wiki:hover {
    text-decoration: underline;
    color: rgb(52, 23, 184);
}